.*
!.gitignore
!.htaccess
!.gitkeep
.php_cs.cache
/.env
/composer.phar

/app/cache/*
!/app/cache/.gitkeep

/app/config/local*.php
/app/config/config_local.php
/app/config/paths_local.php

/app/logs/*
!/app/logs/.gitkeep

/app/Resources/SensioGeneratorBundle
/app/spool/*

/vendor/*
!/vendor/.htaccess